body {
    font-family: 'Roboto', 'sans-serif';
    display: flex; 
    margin: 0;
    flex-direction: column;
}

.first {
    padding: 0px 250px;
    background-color: #1f2937;
    color: white;
}


.bhead {
    display: flex;
    padding: 100px 0px;
    gap: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    height: 80px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image {
    flex: 1 0 auto;
    align-self: center;
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.header h2 {
    margin: 0;
    align-self: center;
}

.hero p,
.header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.info p {
    font-size: 16px;
    color: rgb(81, 81, 81);
    margin: 5px;
}

.hero button {
    background-color: #3882f6;
    color: white;
    padding: 5px 30px;
    border-radius: 8px;
    font-family: 'roboto';
    border: 0px;
    font-weight: bold;
}

.second {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 300px;
    margin-bottom: 100px;
}

.second h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 60px;
}

.second .sri {
    display: flex;
    gap: 60px;
    flex-shrink: 0;
    justify-content: center;
}

.second .rsq {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    border-width: 5px;
}

.second .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 175px;
}

.third {
    padding: 70px 300px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 26px;
    font-style: italic;
}

.third p {
    text-align: right;
    font-style: normal;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth .cta {
    display: flex;
    margin: 80px 50px;
    gap: 50px;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 50px 150px;
    border-radius: 8px;
}

.fourth button {
    flex-shrink: 0;
    background-color: #3882f6;
    color: white;
    padding: 5px 30px;
    border-radius: 8px;
    font-family: 'roboto';
    border: 3px solid white;
    font-weight: bold;
}

.fourth p {
    margin: 0;
    font-size: 16px;
}

.fourth h3 {
    font-size: 21px;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    background-color: #1f2937;
    color: #e5e7eb;
}